<ion-header>
  <ion-navbar>
    <ion-title>Image List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of items  | async">
    <img [src]="'data:image/png;base64,' + item.imageData" style="width: 120px; height: 120px;"/>
    <ion-card-content>
      <ion-list no-lines>
        <ion-list-header>
          Labels
        </ion-list-header>
        <ion-item *ngFor="let landmark of item.results.responses[0].faceAnnotations[0].landmarks">
          {{landmark.type}}: {{landmark.position.x}}, {{landmark.position.y}}, {{landmark.position.z}}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-fab bottom right>
    <button ion-fab (click)="takePhoto()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>
</ion-content>
